# Listas

In [ ]:
#Listas Simples
alunos = ['João', 'José', 'Maria', 'Dorotildes', 'Eleutério']

In [ ]:
print(alunos)

In [ ]:
alunos

In [ ]:
#Listas heterogêneas
alunoNotas = ['João', 10.0, 9.9, 7.0, 9.0, 1.0]

In [ ]:
print(alunoNotas)

In [ ]:
alunoNotas

In [ ]:
#Acessar listas por Indexes

nomeAluno = alunoNotas[0]

nota01 = alunoNotas[1]

nota02 = alunoNotas[2]

nota03 = alunoNotas[3]

nota04 = alunoNotas[4]

nota05 = alunoNotas[5]

In [ ]:
print(nomeAluno)
print(nota01)
print(nota02)
print(nota03)
print(nota04)
print(nota05)

In [ ]:
nomeAluno
nota01
nota02
nota03
nota04
nota05

## Modificar valores de Listas

In [ ]:
#Atualiza nome

alunoNotas[0] = 'João da Silva'

alunoNotas[1] = 9.9

In [ ]:
print(alunoNotas)

In [ ]:
alunoNotas[6] = 12121

## Operações em Listas

In [ ]:
#Funçao 'del' remove itens pela faixa de posições
del alunoNotas[1:2]

In [ ]:
del alunoNotas[1:]

In [ ]:
print(alunoNotas)

In [ ]:
print(alunoNotas)

In [ ]:
#Função 'append' adiciona elemento ao final da lista
alunoNotas.append(7)

In [ ]:
print(alunoNotas)

In [ ]:
#Adicionar vários elementos na lista de uma única vez.
alunoNotas.extend([10, 10, 10, 10])

In [ ]:
print(alunoNotas)

In [ ]:
#Remover elemento específico
alunoNotas.remove(9.8)

In [ ]:
print(alunoNotas)

In [ ]:
#Remover elemento específico
alunoNotas.remove(10)

In [ ]:
print(alunoNotas)

# Listas dentro da outra

In [ ]:
#Também conhecido como lista multidimensional

notasAlunos = [ ['João', 9, 9, 9, 9 ],  ['José', 4, 5.5, 7, 8], ['Maria', 10, 10, 10, 10] ]

In [ ]:
print(notasAlunos)

In [ ]:
notasAlunos

In [ ]:
len(notasAlunos)

In [ ]:
#Retornando elementos da lista multidimensional
print(notasAlunos[0])
print(notasAlunos[1])
print(notasAlunos[2])

In [ ]:
#Retornando elementos da lista multidimensional
print(notasAlunos[0][0])
print(notasAlunos[0][1])
print(notasAlunos[0][2])
print(notasAlunos[0][3])
print(notasAlunos[0][4])

In [ ]:
# Alteração da sub lista completa
notasAlunos[0] = ['João da Silva', 9.9, 10, 7, 9.1]

In [ ]:
notasAlunos[0][0] = 'João Sousa'

## Juntando Listas

In [ ]:
listaA = ['João', 9, 9, 9, 9 ]
listaB = ['José', 4, 5.5, 7, 8]
listaC = ['Maria', 10, 10, 10, 10]

In [ ]:
print(listaA)
print(listaB)
print(listaC)

In [ ]:
#Concatenação de listas
todosAlunos = listaA +  listaB +  listaC

In [ ]:
todosAlunos

# Operador de Listas

In [ ]:
#Operador 'in' verifica se existe um determinado elemento em uma lista
# Tem algum elemento com o valor "João" dentro da lista?
'Lucyano' in todosAlunos

In [ ]:
10 in todosAlunos

In [ ]:
#Função 'len' retorna o tamanho da lista
len(todosAlunos)

In [52]:
max(todosAlunos)

TypeError: '>' not supported between instances of 'int' and 'str'

In [55]:
notasAlunoEspecifico = [5, 1.1, 8, 4, 7.7, 9, 9.9, 10, 99]

In [56]:
#Função 'max' retorna o maior elemento de uma lista
max(notasAlunoEspecifico)

99

In [57]:
#Função 'min' retorna o menor elemento de uma lista
min(notasAlunoEspecifico)

1.1

In [61]:
alunos

['João', 'José', 'Maria', 'Dorotildes', 'Eleutério', 'Zeus']

In [59]:
#Serve também para lista não numéricas, nesse caso, a lista é colocada em ordem alfabetica 
max(alunos)

'Maria'

In [60]:
alunos.append('Zeus')

In [62]:
max(alunos)

'Zeus'

In [63]:
min(alunos)

'Dorotildes'

In [64]:
alunos.append('Acelino')

In [65]:
min(alunos)

'Acelino'

In [66]:
notasAlunoEspecifico

[5, 1.1, 8, 4, 7.7, 9, 9.9, 10, 99]

In [67]:
#Função 'reverse' reverte a lista em ordem POSICIONAL
notasAlunoEspecifico.reverse()

In [68]:
notasAlunoEspecifico

[99, 10, 9.9, 9, 7.7, 4, 8, 1.1, 5]

In [69]:
#Função 'sort' ordena lista em ordem CRESCENTE (DO MENOR PARA O MAIOR)
notasAlunoEspecifico.sort()

In [70]:
notasAlunoEspecifico

[1.1, 4, 5, 7.7, 8, 9, 9.9, 10, 99]

In [71]:
#Organizar uma lista DECRESCENTE
alfabeto = ['d', 'a', 'c', 'e', 'f', 'g', 'b']

In [72]:
print(alfabeto)

['d', 'a', 'c', 'e', 'f', 'g', 'b']

In [73]:
alfabeto.sort()

In [74]:
alfabeto

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [75]:
alfabeto.sort(reverse=True)

In [76]:
alfabeto

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [77]:
#Função 'pop' retira o último elemento da lista POSICIONAL e RETORNA.
alfabeto.pop()

'a'

In [78]:
print(alfabeto)

['g', 'f', 'e', 'd', 'c', 'b']

In [79]:
# Também pode ser removido passando o indexe
alfabeto.pop(1)

'f'

In [80]:
print(alfabeto)

['g', 'e', 'd', 'c', 'b']

## Lista vazia

In [81]:
listaVazia = []

In [82]:
print(listaVazia)

[]

In [83]:
type(listaVazia)

list

# Set

In [95]:
#Set são conjuntos de elementos que não aceita repetição nem indexação

alunosTodos = set(['João', 'José', 'Maria', 'Dorotildes', 'Eleutério'])

alunos1Periodo = set(['João', 'Eleutério'])

alunos2Periodo = set(['José', 'João'])

alunos3Periodo = set(['Maria', 'Dorotildes'])

In [85]:
type(alunosTodos)

set

In [86]:
type(alunos1Periodo)

set

In [87]:
type(alunos2Periodo)

set

In [88]:
type(alunos3Periodo)

set

In [89]:
alunosTodos

{'Dorotildes', 'Eleutério', 'José', 'João', 'Maria'}

In [90]:
alunos1Periodo

{'Eleutério', 'João'}

In [91]:
alunos2Periodo

{'José'}

In [92]:
alunos3Periodo

{'Dorotildes', 'Maria'}

In [96]:
# União de set

ultimosPeriodos = alunos2Periodo | alunos3Periodo

In [97]:
ultimosPeriodos

{'Dorotildes', 'José', 'João', 'Maria'}

In [98]:
# Interseção

todosAlunosUltimosPeriodos = ultimosPeriodos & alunosTodos

In [99]:
todosAlunosUltimosPeriodos

{'Dorotildes', 'José', 'João', 'Maria'}

In [100]:
# Diferença

alunosNaoEstaoUltimosPeriodos = alunosTodos - todosAlunosUltimosPeriodos

In [101]:
alunosNaoEstaoUltimosPeriodos

{'Eleutério'}

In [102]:
alunosTodos

{'Dorotildes', 'Eleutério', 'José', 'João', 'Maria'}